<!doctype html>
<html lang="en">
  <head>
  	<title>Vince Laylo DS Buttons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link  rel="stylesheet"  href="../css/prism.css"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/fyn1bsd.css">
  <link rel="icon" href="..\img\Group 19.png" type="image/x-icon"> 
  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
           
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
		  <h1><a href="../index.html" class="logo"><img id="logo" src="../img/Group 3.png"></a></h1>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="nav.html">Navbar</a>
                </li>
                <li>
                    <a href="buttons.html">Buttons</a>
                </li>
                <li>
                  <a href="footer.html">Footer</a>
              </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/homepage.html">Home</a>
                </li>
                <li>
                    <a href="../patterns/projects.html">Project</a>
                </li>
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
        <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h2>Buttons</h2>
              <br>
              <h4>Overview & Usage</h4>
              <p>There will only be three buttons in this design system.  A main button, an alternative color depending on background, and a ghost button for secondary CTAs. Buttons should be used to guide the user to a place that they may want to go to or need to go.  </p>
              <br>

              <h4>Accessibility</h4>
              <p>The red buttons should be used most often barring significant background changes with which the black button can be used.  Avoid using the ghost button on backgrounds that make it difficult to read.  </p> 
              <code>min-width: 160px; <br>
                max-height: 48px; <br>
                border-radius: 10px; <br>
                color: white; <br>
              </code>

              <br> <br>
              <div class="col">
                <h5>Main Button & Main Button Hover</h5>
                <img style="margin-right: 20px" src="..\img\Button 2.png"> <br> <code>background: #F30C1B;</code> <br> <br>
                <img src="..\img\Button 2 hover.png">  <br> <code>background: #C9010E;</code> <br> <br>
              </div>

              <br>
              <br>
              
              <div class="col">
                <h5>Alt Button & Alt Button Hover</h5>
                <img style="margin-right: 20px" src="..\img\Button 1.png"> <br> <code>background: black;</code> <br> <br>
                <img src="..\img\Button 1 hover.png"> <br> <code>background: #333;</code> <br> <br>
              </div>
              <br>
              <br>
          
              <div class="col">
                <h5>Secondary (Ghost) Button & Secondary Button Hover</h5>
                <img style="margin-right: 20px" src="..\img\Button Ghost.png"> <br> <code>background: none; <br> border: 1px solid #F30C1B; <br> color: #F30C1B; </code> <br> <br>
                <img src="..\img\Button Ghost hover.png"> <br> <code>background: none; <br> border: 1px solid black; <br> color: black; </code> <br> <br>
              </div>
              <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->
<br>
<br>
        <pre class="language-markup">
          <code>
            &lt;button type="button" class="btn btn-primary">Primary&lt;/button>
          </code>
        </pre><!-- Code example -->
    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>